body {
	background-color: #222831;
}

.vim-test {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

.description {
	color: white;
}

.cm-editor {
	height: 16em;
}

.submit-btn {
	margin-top: 2em;
	padding: 1em 2em;
}
